//variables
$color-dark-blue:#005799;
$color-blue: #057fa8;
$color-text: #333;
$color-light-gray:#e5e5e5;
$color-gray:#3c5463;
$color-light-blue-marine: #4daca0;
$color-yellow:#f5c635;
$color-pink:#ae446a;
$color-violet:#674b99;
$color-light-green:#b8e1c8;
$color-white: white;
$color-black:black;
//grid
$grid-with: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
//fontsize
$font-size-main: 1.6rem;
//shadows
$shadow1: 0 1.5rem 4rem rgba($color-black, .15);
$shadow2: 0 3rem 6rem rgba($color-black, .1);
$shadow3: 0 3rem 6rem rgba($color-black, .4);