.header {
    height: 95vh;
    /*linear gradient on top, img below*/
    background-image: linear-gradient(to right bottom, rgba($color-dark-blue, .9), rgba($color-blue, .6)), url(../img/jonathan-noack-36ftAXb1tUc-unsplash.jpg);
    background-size: cover;
    background-position: center;
    /*clip a part of the hero picture*/
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
    position: relative;
    @include respond(phone) {
        clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    }
    &__logo-box {
        position: absolute;
        left: 2rem;
    }
    &__logo {
        height: 20rem;
        animation: moveInLeft .9s ease-in;
    }
    &__text-box {
        @include absCenter2;
        /*in relation to the element*/
        text-align: center;
    }
}