.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 2.5rem;
        transition: all .1s;
        position: relative;
        border: none;
        cursor: pointer;
    }
    &:hover {
        transform: translateY(-.5rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .35);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-.2rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .4);
    }
    &--white {
        background-color: $color-white;
        color: $color-text;
        &::after {
            background-color: $color-white;
        }
    }
    &--blue {
        background: $color-blue;
        color: $color-white;
        &::after {
            background-color: $color-blue;
        }
    }
    /*psudo elements are treated like child element*/
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 2.5rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &--animated {
        animation: moveInButton .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        color: $color-dark-blue;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-dark-blue;
        padding: 3px;
        font-size: $font-size-main;
        font-weight: bold;
    }
    &:hover {
        color: $color-blue;
        border-bottom: 1px solid $color-blue;
        transform: translateY(-2px);
    }
    &:active {
        transform: translateY(1px);
    }
}